html{
    font-size: 70%;
    box-sizing: border-box;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.calculator{
    border: 1.2px solid darkgray; /*sets border color*/
    border-radius: 7px;
    position: absolute;
    top: 50%;  /*top 50% and left 50% are used to place the calculator in the center of the web page */
    left: 50%;
    transform: translate(-50%, -50%); /*adjusts calculator right in the center page*/
    width: 500px; /*sets width of the calculator*/
}

.calculator-screen{
    width: 100%;   /*sets width of the calculator screen*/
    font-size: 5rem; 
    height: 80px; /*sets the height of the calculator screen*/
    border: none; /*makes calculator screen has no border*/
    background-color: rgb(3, 3, 36); /*screen color*/
    color: white; /*sets color of digits on screen*/
    text-align: right; /*makes digits appear from the right*/
    padding-right: 20px; 
    padding-left: 20px; /*adjusts digits position*/
    border-radius: 7px 7px 0px 0px; /*makes top-right and top-left corner camber*/
}

button{
    height: 70px; /*sets height of bottons*/
    border-radius: 3px; 
    border: 1px solid teal; /*sets color of the button border*/
    background-color: transparent;
    font-size: 2.3rem;
    color: rgb(3, 3, 36); /*sets color of characters on the bottons*/
    background-image: linear-gradient(to bottom, transparent,transparent 50%, rgba(0,0,0,.5)); /*sets background color of bottons, and make it metallic*/
    text-shadow: 0 1px rgba(255, 255, 255, .4);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .5),
                inset 0 1px 0 0 rgba(255, 255, 255, .5),
                inset 0 -1px 0 0 rgba(255, 255, 255, .5),
                0 1px 0 0  rgba(255, 255, 255, .5);
}

button:hover{
    background-color: #e1e1e1; 
}

.operator{     /*settings for operators 加减乘除*/
    color: black;
    background-image: linear-gradient(to bottom,transparent,transparent 50%, rgba(0,0,0,.5));
    background-color: lightgray; 
}

.all-clear{  /*settings for AC botton*/
    background-color: rgba(151, 3, 3, 0.822);
    border-color: darkcyan;
    color: white; /*text-AC color*/
}

.equal-sign{
    background-color: rgb(111, 111, 153);
    border-color: darkcyan;
    color: white; /*symbol"=" color*/
    height: 100%;
    grid-area: 2/4/6/5; 
}

.equal-sign:hover{
    background-color: darkblue;
}

.calculator-keys{
    display: grid; /*sets all keys arrangement*/
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 20px;
    padding: 20px;
}